BasedOnStyle: Chromium
IndentWidth: 2
UseTab: Never
ColumnLimit: 160
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlignOperands: false
AlignTrailingComments: false
Standard: Cpp11
PointerAlignment: Middle
BinPackArguments: true
MaxEmptyLinesToKeep: 1
BreakConstructorInitializers: AfterColon
DisableFormat: false

---
Language: JavaScript
DisableFormat: true