[submodule "src/cpp/CRoaringUnityBuild"]
	path = src/cpp/CRoaringUnityBuild
	url = https://github.com/lemire/CRoaringUnityBuild
[submodule "src/-f"]
	path = src/-f
	url = https://github.com/lemire/CRoaringUnityBuild
