# <@acuris/eslint-config>

# Dependencies and vendor
vendor
typings
bower_components
jspm_packages
package-lock.json

# Build outputs
bundle.js
*.bundle.js
.serverless
build/Release
*.min.*
*-min.*

# Cache
.cache
.fuse_hidden*
.temp
.fusebox
.dynamodb

# Test coverage and snapshots
lib-cov
coverage
.nyc_output
__snapshots__

# </@acuris/eslint-config>

node_modules
