sudo: false

branches:
  only: deploy

language: node_js

install:
  - git submodule -q update --init
  - npm install

script:
  - set -e
  - npm run lint
  - npm test
  - node ./scripts/prebuild

matrix:
  include:
    - os: osx
      osx_image: xcode9.3

    - os: linux

node_js:
  - '11'
